@media (max-width: 1500px) {
    .swiper-horizontal > .swiper-pagination-bullets,
    .swiper-pagination-bullets.swiper-pagination-horizontal,
    .swiper-pagination-custom,
    .swiper-pagination-fraction {
      bottom: 7% !important;
      width: 100% !important;
    }
    .swiper-text-wrapper {
      width: 80%;
    }
    .swiper-text-wrapper {
      left: 100px;
    }
    .swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
    .swiper-pagination-horizontal.swiper-pagination-bullets
      .swiper-pagination-bullet {
      font-size: 17px;
    }
  }

  @media (min-width: 1200px) and (max-width: 1400px) {
    .myNavBar .logo img {
      height: 30px;
    }
    ul.navbar-nav li.nav-item a.nav-link {
      padding: 0 15px 0 15px;
      font-size: 13px;
    }
  }

@media (max-width: 1199px) {
    a.buttoncss.Get-quote {
      animation: none;
      width: 100%;
      text-align: center;
      margin-top: 20px;
      margin: 0;
    }
    .ecuzenlife .hire_us {
      width: 100%;
      text-align: center;
      margin: 0;
    }
    .btn-phn .nav-link.buttoncss {
      margin-left: 0;
    }
  }
  
  @media (max-width: 767px) {
    .swiper-text-wrapper {
      left: 80px;
    }
    .swiper-text-wrapper .swiper-heading {
      font-size: 45px !important;
    }
    .swiper-horizontal > .swiper-pagination-bullets,
    .swiper-pagination-bullets.swiper-pagination-horizontal,
    .swiper-pagination-custom,
    .swiper-pagination-fraction {
      display: none !important;
    }
    .swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
    .swiper-pagination-horizontal.swiper-pagination-bullets
      .swiper-pagination-bullet {
      width: fit-content !important;
    }
    .Service-details .tab-content .tab-pane .service-img img {
        border-radius: 30px;
    }
  }
@media (max-width: 576px) {
    .swiper-text-wrapper {
      left: 70px;
      top: 40%;
    }
    .swiper-text-wrapper .swiper-heading {
      font-size: 32px !important;
    }
    .swiper-para{
      font-size: 14px;
      margin-top: 10px;
    }
    .swiper-btn{
      font-size: 14px;
      padding: 12px 0;
      max-width: 200px;
    }
    .swiper-horizontal > .swiper-pagination-bullets,
    .swiper-pagination-bullets.swiper-pagination-horizontal,
    .swiper-pagination-custom,
    .swiper-pagination-fraction {
      display: none !important;
    }
    .swiper-button-prev{
      display: none !important;
    }
    .swiper-button-next{
      display: none !important;
    }
    .swiper-text-wrapper{
      left: 20px;
      width: 90%;
    }
    .heroSection .swiper-inner-wrapper{
      height: calc(100vh - 350px);
    }
    h3.title-heading {
        font-size: 28px;
        text-align: center;
    }
    section.about-us .container {
        padding-bottom: 0;
        padding-top: 15px;
    }
    p.description {
        font-size: 14px;
    }
    .experiences {
        padding: 40px 15px 0px;
    }
    
  }